:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-and-primary-bg-white-color: #ffffff;
  --second-bg-color: #2f303a;
  --black-text-color-logo: #000000;
  --buttons-and-bg-color: #f5f4fa;
  --button-active: #188ce8;
  --hero-bg-color: #c4c4c4;
  --svg-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gra: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.mob-social, .menu-nav, .portfolio, .filter, .contacts-list, .client-list, .social-list, .team-list, .works-list, .benefits-list, .connection-list, .site-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mob-social__link, .mob-menu__email, .mob-menu__phone, .menu-nav__link, .contacts-list__link, .connection-list__link, .site-nav__link, .site-nav__link--current {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.mob-menu__close, .button-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.mob-menu__close:hover, .button-menu:hover, .mob-menu__close:focus, .button-menu:focus {
  fill: var(--accent-color);
}

body {
  color: var(--primary-text-color);
  background-color: var(--text-and-primary-bg-white-color);
  font-family: "Roboto", sans-serif;
}
body.modal-open {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--black-text-color-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.logo--white {
  color: var(--text-and-primary-bg-white-color);
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav__item {
  margin-left: 50px;
}
.site-nav__item:first-child {
  margin-left: 0;
}

.site-nav__link, .site-nav__link--current {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}
.site-nav__link:hover, .site-nav__link--current:hover, .site-nav__link:focus, .site-nav__link--current:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  content: "";
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.site-nav__link--current:hover::after {
  -webkit-transform: scaleX(1.3);
          transform: scaleX(1.3);
}

.connection-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .connection-list {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .connection-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .connection-list__item {
    margin-left: 40px;
  }
}
.connection-list__item:first-child {
  margin-left: 0;
}

.connection-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.connection-list__link:hover, .connection-list__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .connection-list__link {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .connection-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.connection-list__icon {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .connection-list__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .connection-list__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .phone {
    width: 12px;
    height: 16px;
  }
}

.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  background-color: var(--text-and-primary-bg-white-color);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .page-header__site-nav {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__site-nav {
    margin-left: 93px;
  }
}

.page-header__connection-list {
  margin-left: auto;
}

.button-menu {
  width: 40px;
  height: 40px;
  border: none;
  margin-left: auto;
  fill: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-bg-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 360px;
  color: var(--text-and-primary-bg-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  min-width: 216px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  color: var(--text-and-primary-bg-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero__button:active {
  background-color: var(--button-active);
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  background-image: var(--gra), url(../images/hero-img-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--gra), url(../images/hero-img-mobile@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .overlay {
    max-width: 768px;
    background-image: var(--gra), url(../images/hero-img-tablet.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--gra), url(../images/hero-img-tablet@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .overlay {
    max-width: 1600px;
    background-image: var(--gra), url(../images/hero-img-desktop.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--gra), url(../images/hero-img-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-bottom: 0;
  }
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.benefits-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits-list__icon {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background: var(--buttons-and-bg-color);
  border-radius: 4px;
}

.benefits-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: left;
  }
}

.benefits-list__description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-works {
  display: none;
}
@media screen and (min-width: 1200px) {
  .our-works {
    display: block;
  }
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.works-list__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

@media screen and (min-width: 1200px) {
  .works-list__picture {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.works-list__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works-list__direction {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-and-primary-bg-white-color);
}

.our-team {
  background-color: var(--buttons-and-bg-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team-list__card {
  width: 100%;
  background-color: var(--text-and-primary-bg-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team-list__card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team-list__card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__card {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team-list__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-list__container {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team-list__container {
    padding-bottom: 30px;
  }
}

.team-list__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list__specialization {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--text-and-primary-bg-white-color);
  outline: transparent;
  fill: var(--svg-color);
  -webkit-transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.social-list__link:hover, .social-list__link:focus {
  fill: var(--text-and-primary-bg-white-color);
  background-color: var(--accent-color);
}

.social-list__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--text-and-primary-bg-white-color);
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.client-list__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  width: 170px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  outline: transparent;
  fill: var(--svg-color);
  -webkit-transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.client-list__link:hover, .client-list__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.page-footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    row-gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-footer__our-contacts {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .page-footer__join {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__join {
    margin-left: 70px;
  }
}

.page-footer__proposal {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  color: var(--text-and-primary-bg-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .page-footer__proposal {
    padding-top: 12px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__subscribe {
    display: block;
    margin-left: 93px;
  }
}

.contacts-list {
  font-style: normal;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    text-align: left;
  }
}

.contacts-list__item {
  margin-top: 12px;
}
.contacts-list__item:first-child {
  margin-top: 0;
}

.contacts-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__link--highlighter {
  color: var(--text-and-primary-bg-white-color);
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .form-subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}

.form-subscribe__input {
  padding-left: 16px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}
@media screen and (min-width: 480px) {
  .form-subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__input {
    width: 358px;
  }
}
.form-subscribe__input:hover, .form-subscribe__input:focus {
  border: 1px solid var(--accent-color);
}
.form-subscribe__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  min-width: 200px;
  min-height: 50px;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-and-primary-bg-white-color);
  text-transform: capitalize;
  cursor: pointer;
  fill: var(--text-and-primary-bg-white-color);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.form-subscribe__button:hover, .form-subscribe__button:focus {
  background-color: var(--button-active);
}

.our-portfolio__filter {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .our-portfolio__filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-portfolio__filter {
    margin-bottom: 50px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 0;
  }
}

.filter__button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 24px;
  padding-bottom: 6px;
  padding-left: 24px;
  color: var(--title-text-color);
  background-color: var(--buttons-and-bg-color);
  outline: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .filter__button {
    padding-right: 22px;
    padding-left: 22px;
  }
}
.filter__button:hover, .filter__button:focus {
  color: var(--text-and-primary-bg-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__card {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.portfolio__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__description {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-and-primary-bg-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.portfolio__link:hover .portfolio__description {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio__container {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio__project {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__category {
  color: var(--primary-text-color);
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 1500ms var(--timing-function), visibility 1500ms var(--timing-function);
  transition: opacity 1500ms var(--timing-function), visibility 1500ms var(--timing-function);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}

.modal {
  position: relative;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%) scale(1);
          transform: translate(-50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 1500ms var(--timing-function), -webkit-transform 1500ms var(--timing-function);
  transition: opacity 1500ms var(--timing-function), -webkit-transform 1500ms var(--timing-function);
  transition: opacity 1500ms var(--timing-function), transform 1500ms var(--timing-function);
  transition: opacity 1500ms var(--timing-function), transform 1500ms var(--timing-function), -webkit-transform 1500ms var(--timing-function);
  padding: 40px;
  max-width: 450px;
  width: 100%;
  background-color: var(--text-and-primary-bg-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    max-width: 528px;
    max-height: 581px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  outline: transparent;
  background: var(--text-and-primary-bg-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}

.order-form {
  width: 100%;
  height: 100%;
}

.order-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .order-form__title {
    line-height: 1.15;
  }
}

.order-form__group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.order-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.order-form__item:last-child {
  margin-bottom: 0;
}

.order-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.order-form__thumb {
  position: relative;
}

.order-form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}
.order-form__input:hover, .order-form__input:focus {
  border: 1px solid var(--accent-color);
}
.order-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .order-form__input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .order-form__input::-moz-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .order-form__input:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .order-form__input::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .order-form__input::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.order-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.order-form__input:hover + .order-form__icon, .order-form__input:focus + .order-form__icon {
  fill: var(--accent-color);
}

.order-form__input--comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  overflow: auto;
}

.rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.rules__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 438px) {
  .rules__description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .rules__description {
    font-size: 14px;
    line-height: 1.71;
  }
}

.rules__checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: transparent;
  -webkit-transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.rules__accept:checked + .rules__description > .rules__checkbox {
  background-color: var(--accent-color);
  border: none;
  fill: var(--text-and-primary-bg-white-color);
}

.rules__accept:focus + .rules__description > .rules__checkbox,
.rules__accept:hover + .rules__description > .rules__checkbox {
  border: 2px solid var(--accent-color);
}

.rules__contract {
  margin-left: 5px;
  color: var(--accent-color);
}

.order-form__submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-and-primary-bg-white-color);
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.order-form__submit:hover, .order-form__submit:focus {
  background-color: var(--button-active);
}

.mob-menu {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--text-and-primary-bg-white-color);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: visibility 1500ms var(--timing-function), opacity 1500ms var(--timing-function), -webkit-transform 1500ms var(--timing-function);
  transition: visibility 1500ms var(--timing-function), opacity 1500ms var(--timing-function), -webkit-transform 1500ms var(--timing-function);
  transition: visibility 1500ms var(--timing-function), opacity 1500ms var(--timing-function), transform 1500ms var(--timing-function);
  transition: visibility 1500ms var(--timing-function), opacity 1500ms var(--timing-function), transform 1500ms var(--timing-function), -webkit-transform 1500ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.menu-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}

.mob-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
}

.menu-nav__item {
  margin-top: 32px;
}
.menu-nav__item:first-child {
  margin-top: 0;
}

.menu-nav__link {
  font-size: 40px;
  line-height: 1.175;
  color: var(--title-text-color);
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: var(--accent-color);
}

.mob-menu__phone {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--accent-color);
  margin-top: 32px;
}
@media screen and (min-width: 400px) {
  .mob-menu__phone {
    font-size: 34px;
    line-height: 1.1764705882;
  }
}
.mob-menu__phone:hover, .mob-menu__phone:focus {
  color: var(--accent-color);
}

.mob-menu__email {
  display: block;
  margin-top: 32px;
  font-size: 22px;
  line-height: 1.1818181818;
}
@media screen and (min-width: 400px) {
  .mob-menu__email {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}

.mob-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 32px;
}
@media screen and (min-width: 400px) {
  .mob-social {
    margin-top: 64px;
  }
}

.mob-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 10px;
}
.mob-social__item + .mob-social__item {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-social__item:last-child {
  margin-right: 0;
}

.mob-social__link {
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}
@media screen and (min-width: 400px) {
  .mob-social__link {
    font-size: 18px;
    line-height: 1.2222222222;
  }
}/*# sourceMappingURL=main.css.map */