.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 1500ms var(--timing-function),
             visibility 1500ms var(--timing-function);
  
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  // overflow-y: scroll;

  // @media screen and (min-width: 768px) {
    
  // }    
}
  
  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: translate(-50%, -50%) scale(0.3);
      opacity: 0;
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: opacity 1500ms var(--timing-function),
      transform 1500ms var(--timing-function);
  
    padding: 40px;
    width: 450px;
    height: 609px;
    background-color: var(--text-and-primary-bg-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
      width: 528px;
      height: 581px;
     }
  }

  .modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    outline: transparent;
    background: var(--text-and-primary-bg-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 250ms var(--timing-function);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  