.connection-list {
  @extend %list;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
  .connection-list__item {
   
    @media screen and (min-width: 1200px) {
      margin-left: 40px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
 
  .connection-list__link {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px;
      line-height: 1.17;
    }
   
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      line-height: 1.14;
    }
  }

  .connection-list__icon {
    fill: currentColor;
    
    @media screen and (min-width: 768px) {
      margin-right: 8px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }