.contacts-list{
  @extend %list;
  font-style: normal;
  text-align: center;
    
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
  .contacts-list__item {
    margin-top: 12px;

    &:first-child{
      margin-top: 0;
    }
  }
  .contacts-list__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .contacts-list__link--highlighter {
    color: var(--text-and-primary-bg-white-color);
  }
  