//                                                секція ПОРТФОЛІО

// .our-portfolio {
// }
.our-portfolio__filter {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter {
  @extend %list;
  display: flex;
  // flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  
}
  .filter__item {
    margin-left: 8px;
    &:first-child {
      margin-left: 0px;
    }
  }
  .filter__button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
  
    color: var(--title-text-color);
    background-color: var(--buttons-and-bg-color);
    outline: transparent;
  
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
  
    transition: box-shadow 250ms var(--timing-function),
    color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--text-and-primary-bg-white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  