.logo {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--black-text-color-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  justify-content: center;

  @include tablet {
    padding: 0;
  }
 
  @include desktop {
    justify-content: left;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.logo--white {
  color: var(--text-and-primary-bg-white-color);
}