.page-footer {
    background-color: var(--second-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .page-footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  // .page-footer__contacts {
  // }

  .page-footer__our-contacts{
    margin-top: 20px;
  }
  .page-footer__join {
    margin-left: 70px;
  }
  .page-footer__proposal {
    display: block;
    margin-bottom: 20px;
    padding-top: 12px;
    color: var(--text-and-primary-bg-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .page-footer__subscribe {
    display: block;
    margin-left: 93px;
  }