.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  background-color: var(--text-and-primary-bg-white-color);
}

.page-header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.page-header__site-nav {
  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.page-header__connection-list{
  margin-left: auto;
}

.button { 
  display: inline-flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  outline: transparent;
  background-color: transparent;
 
  cursor: pointer;
  transition: fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.button__close {
  display: none;
}
.button.is-open .button__close{
  display: block;
}
.button.is-open .button__open{
  display: none;
}