.page-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
    background-color: var(--text-and-primary-bg-white-color);
}

.page-header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.page-header__site-nav {
  @include tablet {
    margin-left: 88px;
  }
  @include desktop {
    margin-left: 93px;
  }
}

.page-header__connection-list{
  margin-left: auto;
}

.button-menu {
  @extend %button;
  width: 40px;
  height: 40px;
  border: none;
  margin-left: auto;
  fill: var(--title-text-color);

  @include tablet {
    display: none;    
  }
}