.portfolio {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
  .portfolio__card {

    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }
    @include desktop {
      flex-basis: calc((100% - 60px) / 3);
    }
  }

  .portfolio__link {
    text-decoration: none;
    display: flex; 
    flex-direction: column; 
    height: 100%;

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .portfolio__thumb {
    position: relative;
    overflow: hidden;
  }

  .portfolio__picture {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .portfolio__description {
    position: absolute;
    width: 100%;
    height: 100%;
  
    padding: 63px 24px;
  
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--text-and-primary-bg-white-color);
    background-color: rgba(33, 150, 243, 0.9);
  
    transform: translateY(0);
    transition: transform 250ms var(--timing-function);

    .portfolio__link:hover & {
      transform: translateY(-100%);
    }
  }

  .portfolio__container {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    flex-grow: 1;
  }

  .portfolio__project {
    margin-bottom: 4px;
  
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  .portfolio__category {
    color: var(--primary-text-color);
    line-height: 1.88;
    letter-spacing: 0.03em;
  }