.social-list {
  @extend %list;
  display: flex;
  justify-content: center;
  gap: 10px;
  }
  .social-list__item {
    width: 44px;
    height: 44px;
  }

  .social-list__link {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--text-and-primary-bg-white-color);
    outline: transparent;
    fill: var(--svg-color);
  
    transition: background-color 250ms var(--timing-function),
      fill 250ms var(--timing-function);

    &:hover,
    &:focus {
        fill: var(--text-and-primary-bg-white-color);
        background-color: var(--accent-color);
    }
  }
  .social-list__link--dark {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--text-and-primary-bg-white-color);
  }
  
